.signup-screen {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  background: url(https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif);
}

.signup-card {
  width: 50%;
  height: fit-content;
  background-color: #363940;
  margin-top: 3em;
  border-radius: 0.5em;
  padding: 1.5em;
}

.signup-card-welcomeMessage {
  color: rgb(151, 150, 150);
  display: block;
}

.signup-form__container {
  color: white;
}

.signup-form-section__container {
  margin: 25px 0;
  width: 100%;
  /* background-color: aliceblue; */
}

.signup-form-section-label {
  color: #0affc3;
  display: block;
}

.signup-form-section-input__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.signup-form-section-input-field {
  width: 78%;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid rgb(151, 150, 150);
  outline: none;
  border-radius: 0.2em;
  color: inherit;
}

.signup-form-section-input-button {
  background-color: transparent;
  width: 15%;
  padding: 0.5em 0;
  color: inherit;
  border: 1px solid rgb(151, 150, 150);
  border-radius: 0.2em;
}
