.footer-container{
    background-color: #4b4b4b;
    height: 7vh;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    transition: all 0.2s ease-in-out;
}
.footer-container:hover{
    box-shadow: 0px 0px 10px #4b4b4b;
}
.footer-content{
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
}

.footer-socialmedia{
    width: 13%;
    display: flex;
    justify-content: space-evenly;
}

.footer-content ul{
    list-style: none;
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.footer-content ul li div{
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
}
.footer-content ul li div:hover{
    color: rgb(10, 255, 195);
}

.footer-socialmedia-icon{
    height: 30px;
    width: 30px;
}