.header-navbar {
  width: 100%;
  height: 7vh;
  z-index: 3;
  font-size: 20px; /*Large bhai to khush ho gyaa hoga niii.... ladkee jeet gya !! */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
}
.navbar-link-element {
  cursor: pointer;
  text-decoration: none;
}
.header-nav-list {
  width: 30%;
}
.header-nav-links {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
/* .header-nav-links li {
  padding-right: 5%;
} */

.navbar-link-element {
  transition: color 0.5s ease-in-out;
  color: rgb(255, 255, 255);
}
.navbar-link-element:hover,
.navbar-left-menu-link:hover {
  color: rgb(10, 255, 195);
}
.user-info a {
  transition: all 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}
.sign-in:hover {
  color: rgb(10, 255, 195);
}
.sign-up:hover {
  background-color: rgb(10, 255, 195);
  color: #282c34;
  border: solid 1px #282c34;
}
.codeg-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.codeg-badge-link {
  display: flex;
  text-decoration: none;
  color: white;
}

.user-info {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30%;
}
.sign-in {
  text-decoration: none;
  margin-right: 1.5em;
}
.sign-up {
  text-decoration: none;
  /* padding: 1.5% 3%; */
  padding: 0.3em 0.6em;
  border: solid 1px white;
  border-radius: 5px;
}
.logo-name {
  padding-left: 3%;
  font-family: "Gagalin", sans-serif;
  color: white;
  font-size: 2.5em;
}
.logo-img {
  display: flex;
  align-items: center;
}
.logo-name-G {
  color: rgb(10, 255, 195);
}
.navbar-logo-img {
  align-self: center;
  width: 60px;
  height: 60px;
}

.navbar-profile-badge{
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: solid 1px white;
  border-radius: 5px;
  width: fit-content;
  display: flex;
}

.navbar-profile-pic{
  width: 40px;
  height: 40px;
}

.navbar-profile-name{
  align-self: center;
  padding-left: 10px;
}

.navbar-hamburger-icon__container {
  color: #fff;
  font-size: 2em;
  display: none;
  width: 40%;
}

.header-nav-menu__container {
  display: none;
}

.navbar-left-menu {
  width: 40%;
  height: 100vh;
  background-color: #282c34;
  position: fixed;
  top: 9.8vh;
  left: 0;
  z-index: 2;
  display: none;
}

.navbar-left-menu-close {
  display: none;
}

.navbar-left-menu-links__container {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navbar-left-menu-auth__container {
  margin-top: 1em;
  text-align: center;
}

.navbar-left-menu-auth__container > a {
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.navbar-left-menu-link {
  width: 80%;
  padding: 1em 0;
  transition: color 0.5s ease-in-out;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #4e5564;
}

@media (max-width: 1280px) {
  .header-nav-links {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .header-nav-links {
    width: 90%;
  }
}

@media (max-width: 910px) {
  .header-nav-list {
    display: none;
  }

  .navbar-hamburger-icon__container {
    display: block;
  }

  .user-info {
    display: none;
  }

  .header-navbar {
    /* margin-top: 1em; */
    padding: 0 1em;
    justify-content: left;
  }

  .navbar-left-menu {
    display: block;
  }

  .navbar-left-menu-close {
    display: none;
  }
}

@media (max-width: 750px) {
  .logo-name {
    font-size: 2em;
  }

  .navbar-logo-img {
    width: 35px;
  }

  .navbar-hamburger-icon__container {
    font-size: 1.5em;
  }
}
