.header-navbar {
  width: 100%;
  height: 10vh;
  z-index: 3;
  font-size: 20px; /*Large bhai to khush ho gyaa hoga niii.... ladkee jeet gya !! */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
}
.navbar-link-element {
  cursor: pointer;
  text-decoration: none;
}
.header-nav-list {
  width: 30%;
}
.header-nav-links {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
/* .header-nav-links li {
  padding-right: 5%;
} */

.navbar-link-element {
  transition: color 0.5s ease-in-out;
  color: rgb(255, 255, 255);
}
.navbar-link-element:hover {
  color: rgb(10, 255, 195);
}
.user-info a {
  transition: all 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}
.user-info > .sign-in:hover {
  color: rgb(10, 255, 195);
}
.user-info > .sign-up:hover {
  background-color: rgb(10, 255, 195);
  color: #282c34;
  border: solid 1px #282c34;
}
.codeg-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.user-info {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30%;
}
.sign-in {
  text-decoration: none;
  margin-right: 1.5em;
}
.sign-up {
  text-decoration: none;
  /* padding: 1.5% 3%; */
  padding: 0.3em 0.6em;
  border: solid 1px white;
  border-radius: 5px;
}
.logo-name {
  padding-left: 3%;
  font-family: "Gagalin", sans-serif;
  color: white;
  font-size: 3em;
}
.logo-img {
  display: flex;
  align-items: center;
}
.logo-name-G {
  color: rgb(10, 255, 195);
}
.navbar-logo-img {
  width: 50px;
}

/* .navbar-hamburger-icon__container {
  color: #fff;
  font-size: 2em;
  display: none;
} */

/* .header-nav-menu__container {
  display: none;
} */

@media (max-width: 1280px) {
  .header-nav-links {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .header-nav-links {
    width: 90%;
  }
}

/* @media (max-width: 910px) {
  .header-nav-list {
    width: 40%;
    height: 100vh;
    background-color: #282c34;
    position: fixed;
    top: 11vh;
    left: 0;
    z-index: 2;
  }

  .header-nav-links {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .header-nav-links > li > div {
    padding: 1em;
    border-bottom: 1px solid #434a57;
  }

  .header-navbar {
    position: relative;
  }

  .navbar-hamburger-icon__container {
    display: block;
    width: 35%;
  }
} */
