.MidNavigation{
    display: flex;
    justify-content: flex-start;
    margin-top: 4%;
}

.MidNavigation-Content{
    padding-left: 10%;
    display: flex;
    justify-content: left;
    width: 100%;
    font-size: large;
    color: gray;
}

.MidNavigation-Content ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.MidNavigation-Content ul li div{
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    border-bottom: 2px solid transparent;
}

.MidNavigation-Content ul li div:hover{
    border-bottom: 2px solid #4b4b4b;
}