@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@100&family=Oswald&display=swap');

.OurMissionandVision{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.OurMissionandVision::before {
    content: '';
    background: #282c34;
    outline: 20px solid #282c34;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid red;
    position: absolute;
    top: 20px;
    left: -6.6%;
    z-index: 3;
}

.OurMissionandVision-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    height: 90%;
    color: white;
}

.OurMissionandVision-Headline{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Archivo Black', sans-serif;
}

.OurMissionandVision-timeline-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.OurMissionandVision-description{
    font-size: 1.25rem;
}

.OurMissionandVision-link{
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
}

.OurMissionandVision-illustration{
    width: 30%;
    height: 10%;
}
.illust{
    width: 100%;

}
